<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/lg.png" sizes="32x32">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Библиотека</title>
  </head>
  <body>
    <div class="mt-5">
      <div class="mx-auto" style="width: 200px;">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if current_page == 0 %}
              <li class="page-item disabled">
                <a class="page-link" href="index{{current_page - 1}}.html" tabindex="-1">Previous</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="index{{current_page - 1}}.html">Previous</a>
              </li>
            {% endif %}
            {% for page in all_page %}
             {% if current_page == page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="index{{current_page}}.html">{{current_page + 1}}</a>
              </li>
              {% else %}
                <li class="page-item">
                <a class="page-link" href="index{{page}}.html">{{page + 1}}</a></li>
              {% endif %}
            {% endfor %}
            {% if current_page == last_page - 1 %}
              <li class="page-item disabled">
                <a class="page-link" href="index{{current_page + 1}}.html" aria-label="Next">
                  <span aria-hidden="true">Next</span></a>
              </li>
            {% else %}
              <li class="page-item">
              <a class="page-link" href="index{{current_page + 1}}.html" aria-label="Next">
                <span aria-hidden="true">Next</span></a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for book in books_catalog %}
          <div class="col-6">
            <div class="card mb-4" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-3">
                  <img src="../{{book.img_filepath}}" class="card-img" alt="{{book.ID}}">
                </div>
                <div class="col-7">
                  <div class="card-body">
                    <h5 class="card-title">{{book.Заголовок}}</h5>
                    <h5 class="card-title">{{book.Автор}}</h5>
                    {% for genre in book.Жанр %}
                      <span class="badge badge-pill badge-light mb-3">{{genre}}</span>
                    {% endfor %}
                    <div><a href="../{{book.book_filepath}}" target="_blank"> Читать </a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="../static/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="../static/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="../static/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


